.instaIcon>h1 {
    font-family: "Leckerli One", cursive;
    font-size: 28px;
}

.icons {
    margin: 8px 0;
}

.Dashboard {
    left: 20%;
    /* height: 300vh; */
    /* z-index: -2; */
}

.leftSidebar,
.rightsideContainer {
    transition: 0.2s ease-in;
}

/* .leftMiddle{

} */
.reelIcon {
    width: 26px;
    min-width: 26px;
}

.searchBar:focus {
    border: 0 !important;
    outline: none !important;
    --tw-ring-color: none !important;
}




@media (prefers-color-scheme: dark) {

    .leftSidebar,
    .SearchComponent {
        background-color: #121212;
    }

    #popup-root .popup-content {
        background-color: #3c3c3c !important;
        color: #fff;
        margin: 0;
        padding: 0;
        border: none;

    }

    .popup-arrow {
        display: none;
    }

    .navTabs:hover {
        background-color: #27272A;
    }

}

@media (prefers-color-scheme: light) {

    .leftSidebar,
    .SearchComponent {
        background-color: #ffffff;
    }

    .navTabs:hover {
        background-color: #e5e4e4;
    }
}

path {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1110px) {
    .rightsideContainer {
        width: 90% !important;
    }
}

@media screen and (max-width:1024px) {
    .rightSideBar {
        width: 30% !important;
        min-width: 210px;
        margin-right: 50px !important;
    }

    .Dashboard {
        flex-grow: 1;
        min-width: 480px
    }

    .dashboardContainer {
        width: 100% !important;
    }



}


.popup-content {
    background-color: rgb(41, 45, 62);
    color: #fff;
}



.changephoto {
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.47);
}

html[data-theme='light'] .popup-content {
    background-color: #fff;
    color: #000;
    border: none;
}

.popup-arrow {
    color: rgb(255, 255, 255);
}

@media screen and (max-width:830px) {
    .Dashboard {
        justify-content: start !important;
        width: 100%;
        padding: 0 50px !important;
    }

    .rightContainer {
        display: none;
    }

    .rightsideContainer {
        width: 100% !important;
    }
}

.stories::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width:600px) {
    .leftSidebar {
        display: none !important;
    }

    .Dashboard {
        margin: 0 !important;
    }

    .rightsideContainer {
        margin: 0 !important;
    }
}