* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:local {
    --background-color-dark: #191818;
    --font-color-dark: white;
}

:root {
    --background-color-light: white;
    --font-color-light: black;
}

/* .black {
    background-color: var(--primary-color);
    color: var(--font-color);
} */